{% extends 'homepage/master.html' %}
{% block content %}
{% load static %}


<img src="{% static 'img/img2.jpg' %}" width="300"> <br>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid cumque laudantium totam provident iure dicta, nihil, blanditiis amet quis, explicabo autem odit esse dolores unde inventore ex perspiciatis? Ut at nulla ratione harum minus voluptates pariatur, est iusto accusantium laborum vero quo! Repudiandae laudantium, error provident voluptatum esse aut laboriosam quae molestias neque temporibus a quidem praesentium modi dolor fugit perspiciatis eaque, consequatur tempora, quos mollitia harum vero. Hic placeat, voluptatibus nobis dolorum, laudantium incidunt soluta neque ipsam ab accusantium officiis quam quis corrupti qui perspiciatis. Consequatur velit totam impedit eum. Repellat eligendi aut quibusdam, facilis corrupti reiciendis accusantium labore!</p>

{% endblock %}