<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1 id='head'>hello</h1>
    <p class="para">Lorem ipsum dolor sit.</p>
    <p class="para" id='lorem' onmouseover="lorem()">Lorem ipsum dolor sit amet.</p>
    <button id='btn' onclick="changetext()">submit</button>
    <script>
        var h=document.getElementById('head')
        console.log(h)
        // p=document.getElementsByTagName('p')
        // console.log(p)
        // p1=document.getElementsByClassName('para')
        // console.log(p1)
        function changetext(){
        h.innerHTML='hai'
        h.align='center'
        h.style.color='red'
        h.setAttribute('class','hai')
        // h.remove()
        ne = document.createElement("div")
        ne.innerHTML='hello ahi'
        document.body.appendChild(ne)
        


        }

        function lorem(){
            document.getElementById('lorem').innerHTML='welcome'
        }

    </script> -->
<!-- 
    <input type="text" id='txt1'><br>
    <input type="text" id='txt2'><br>
    <button id='btn1'>+</button>
    <button id='btn2'>-</button>
    <button id='btn3'>*</button>
    <button id='btn4'>/</button> -->

    <button onclick="div()" id="btn">click</button>
    <div id="div1">Lorem, ipsum dolor.</div>

    <script>
        function div(){
            document.getElementById('div1').innerHTML='hello'
            document.getElementById('div1').style.color='red'
            document.getElementById('btn').innerHTML='clicked'


        }
    </script>
    


</body>
</html>