<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // function totalsum(n1,n2){
        //     sum=n1+n2
        //     console.log(sum)
        // }

        // totalsum(5,6)
        // totalsum(2,5)

        // function oddoreven(n){
        //     if(0==n%2){
        //     console.log('even')
        //     }
        //     else{
        //         console.log('odd')
        //     }


        // }
        // oddoreven(4)
        // oddoreven(3)

        // m1=Number(prompt('enter 1st mark'))
        // m2=Number(prompt('enter 2nd mark'))
        // m3=Number(prompt('enter 3rd mark'))

        // function mark(m1,m2,m3){
        //     var total=m1+m2+m3
        //     console.log(total)
        //     return total


        // }
        // totalmark=mark(m1,m2,m3)
        // avg=totalmark/3
        // console.log(avg)


        // outside='global'
        // var outside_var='also global'
        // function testscope(){
        //     inside='inside a function but global'
        //     var inside_var='local'
        //     console.log(outside)
        //     console.log(outside_var)
        //     console.log(inside)
        //     console.log(inside_var)

        // }
        // testscope()
        // console.log(inside)

        // for(i=0; i<=5; i++){
        //     for(j=0; j<=i; j++){
        //         document.write(i)
        //     }
        //     document.write('<br>')
        // }

        // var num=Number(prompt('enter a number'))
        // var i;
        // for(i=2; i<=num; i++){
        //     if(num%i==0){
        //         break;
        //     }
        // }
        // if(i==num){
        //     console.log('prime')
        // }
        // else{
        //     console.log('not prime')
        // }


//         function prime(){
//         var num=Number(prompt('enter a number'))
//         var prime;
//         var sum=0;
//         for(var i=2; i<= num; i++){
//             prime = 1;

//             for(var j=2; j<=i/2; j++){
//                 if(i%j == 0){
//                     prime = 0;
//                     break; 
//                 }
//             }
            
//         if(prime==1){
//             sum=sum+i;
//             console.log(i)
//         }
//     }
//     console.log('total sum = ' + sum)
// }
// prime()

// function add(a,b){
//     var num1=a;
//     var num2=b;
//     var result=a+b;
//     return result
// }
// var res=add(5,5)
// console.log(res)


var mark=[50,60,40,30]
var name=['jis','rav']
var newarr=mark.concat(name)
// console.log(mark[2])
// console.log(mark.length)

// mark.pop()

// mark.push('hai')

// mark.shift()
// mark.shift()

// mark.unshift('hello')

// mark.splice(0,1,'hoi','hello')
// console.log(mark)

var sliced_array=mark.slice(1)
console.log(sliced_array)
console.log(mark)



        

    




    </script>
</body>
</html>