{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/gridwork.css' %}">
</head>
<body>
    <div class="d1">
        <div class="d11"><img src="{% static 'img/oray.jpg' %}"></div>
        <div class="d12"><img src="{% static 'img/flutter.webp' %}"></div>
        <div class="d13"><img src="{% static 'img/images.png' %}"></div>
        <div class="d14"><img src="{% static 'img/image.jpg' %}" class="im"></div>
        <div class="d15"><img src="{% static 'img/angular.webp' %}" class="im"></div>
        <div class="d16"><img src="{% static 'img/python.webp' %}"></div>
        <div class="d17"><img src="{% static 'img/img2.jpg' %}"></div>
        <div class="d18"><img src="{% static 'img/img3.jpg' %}"></div>
        <div class="d19"><img src="{% static 'img/javascript.webp' %}"></div>
        <div class="d20"><img src="{% static 'img/php.webp' %}"></div>
    </div>
    
</body>
</html>