{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/gridalign.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script> -->
</head>
<body>
    <div class="d1">
        <div class="d2">one</div>
        <div class="d3">two</div>
        <div class="d4">three</div>
        <div class="d5">four</div>
        <div class="d6">five</div>
        <div class="d7">six</div>
    </div>
    <!-- <button>submit</button> -->
    <!-- <button class="btn btn-info">submit</button>
    <p>Lorem ipsum dolor sit amet.<br>Lorem ipsum dolor sit amet consectetur.</p>
    <table class="table table-dark table-striped table-hover">
        <tr>
            <th>no.</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
        </tr>
        <tr>
            <td>hello</td>
            <td>hai</td>
            <td>bye</td>
            <td>world</td>
        </tr>
        <tr>
            <td>hello</td>
            <td>hai</td>
            <td>bye</td>
            <td>world</td>
        </tr>
        <tr>
            <td>hello</td>
            <td>hai</td>
            <td>bye</td>
            <td>world</td>
        </tr>
        <tr>
            <td>hello</td>
            <td>hai</td>
            <td>bye</td>
            <td>world</td>
        </tr>
    </table> -->
    <!-- <img src="{% static 'img/image.jpg' %}" width="300px" height="300px" class="img-thumbnail float-start">
    <img src="{% static 'img/image.jpg' %}" width="300px" height="300px" class="img-thumbnail float-end"> -->
    <!-- <div style="border: 1px black solid; height: 400px; width: 600px;">
        <img src="{% static 'img/image.jpg' %}" class="img-fluid">
    </div> -->
   
    <!-- <p class="h1">h1. Bootstrap heading</p>
<p class="h2 mt-3 pt-2">h2. Bootstrap heading</p>
<p class="h3">h3. Bootstrap heading</p>
<p class="h4">h4. Bootstrap heading</p>
<p class="h5">h5. Bootstrap heading</p>
<p class="h6">h6. Bootstrap heading</p> -->

<!-- <div class="card" style="width: 18rem;">
    <img src="{% static 'img/img2.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <button type="button" class="btn-close" aria-label="Close"></button> -->



<!-- <div class="container-fluid bg-info">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-lg-4">
            <div>
                <div class="card"  style="width: fit-content; height: fit-content; ">
                <img src="{% static 'img/php.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div></div>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-4">
            <div>
                <div class="card"  style="width: fit-content; height: fit-content; ">
                <img src="{% static 'img/python.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div></div>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-4">
            <div>
                <div class="card" style="width: fit-content; height: fit-content; ">
                <img src="{% static 'img/angular.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div></div>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-4">
            <div>
                <div class="card"  style="width: fit-content; height: fit-content; ">
                <img src="{% static 'img/javascript.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div></div>
        </div>
    </div>
</div> -->


</body>
</html>