{% extends 'homepage/master.html' %}
{% block content %}
{% load static %}
<img src="{% static 'img/image.jpg' %}" width="300"><br>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique adipisci reprehenderit nulla, molestiae nostrum placeat quia libero facere cum fuga modi, ipsam ratione, distinctio illum. Expedita molestias fuga totam quaerat dolorum repellendus consequuntur alias voluptates quo voluptatum ab nulla cupiditate reprehenderit quod perferendis enim quam sapiente ea, fugiat quibusdam at quae magni. Unde odit aliquid fugit, accusamus dolor eius saepe cum atque dignissimos labore enim sunt, quisquam doloremque, soluta ducimus. Libero ducimus, explicabo similique fugiat harum repellat distinctio inventore, quibusdam autem aliquam dicta nesciunt nihil. Iure, aut ipsa neque soluta, totam veritatis beatae placeat dolorum, dicta possimus aperiam quaerat nemo?
</p>

{% endblock %}