<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>

<body>
        <script>
                // else if

                // var a=Number(prompt('enter mark'))
                // if(a>90){
                //     console.log('execllent')
                // }

                // else if(a>70){
                //     console.log('good')
                // }

                // else if(a>60){
                //     console.log('average')
                // }

                // else if(a>40){
                //     console.log('failed')
                // }

                // switch

                // var grade=(prompt('enter grade'))

                // console.log(grade.toUpperCase())
                // switch(grade.toUpperCase()){
                //     case 'A':
                //         console.log('execellent')
                //         break;
                //     case 'B':
                //         console.log('good')
                //         break;
                //     case 'C':
                //         console.log('average')
                //         break;
                //     case 'D':
                //         console.log('failed')
                //         break;
                //     default:
                //         console.log('invalid input')
                // }

                // for loop

                //  for (i=10; i>=0; i--)
                //  {
                //     if(i==5)
                //     {
                //         continue;
                //     }
                //     console.log(i)
                //     if (i%2==0)
                //     {
                //     console.log(i)
                //     }
                // }

                // while loop

                // i=0;
                // while(i<=10){
                //     console.log(i)
                //     i++

                // }
                // count=0;
                // var password= '1234'
                // var guess= ''
                // while(password != guess){
                //     guess=(prompt('enter password'))
                //     if(password==guess){
                //         break;
                //     }
                //     else{
                //         count++
                //     }
                //     if(count>=3){
                //         console.log('too many attempts')
                //         break;
                //     }
                // }

                // do while
                //     i=20
                // do{
                //     console.log(i)
                //     i++
                // }
                // while(i<=10)

                // var password= '1234'
                // do{
                //     guess=(prompt('enter password'))

                // }

                // while(password != guess){

                // }
                // var sum=0
                // for(i=1; i<=10; i++){
                //     sum=sum+i;
                // }
                // console.log(sum)

                // factorial

                //  var fact=1
                //  for(i=1; i<=3; i++){
                //         fact=fact*i;
                //  }

                //  console.log(fact)

                // var fact=1
                // var i=1

                // do{
                //         fact=fact*i
                //         console.log(fact)
                //         i++
                // }
                // while(i<=10)

                // var n=10
                // var t1=0
                // var t2=1
                // var i=1
                // while(i<=n){
                //         console.log(t1)
                //         sum=t1+t2
                //         t1=t2
                //         t2=sum
                //         i++
                // }
                               

                // var n=10
                // var t1=0
                // var t2=1
                // var i=1
                // do{
                //         console.log(t2)  
                //         sum=t1+t2
                //         t1=t2
                //         t2=sum
                //         i++
                // }
                // while(i<=10)

                var r = 0
                var sum = 0
                var n = 123
                var t = n
                while (n > 0) {
                        r = n % 10;
                        sum = (sum * 10) + r;
                        n = Math.floor(n / 10);
                        
                }
                
                if (sum == t) {
                        console.log('palindrom')
                }
                else {
                        console.log('not palindrom')
                }

                // var str=prompt('enter a string')
                // len=str.length
                // for (i = 0; i < len/2; i++ ) {
                //  if (str[i] != str[len - 1 - i]){
                //         console.log('not palindrom')
                //         break;
                //  }
                //  else{
                //         console.log('palindrom')
                //  }
                // }
                 










        </script>
</body>

</html>