<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <button onclick="alert('submitted')">sign up</button> -->
    <script>
        // var a
        // console.log('submited')
        // console.log(typeof(a))

        // var age=10 
        // if(age>=18){
        // console.log('you are eligible to vote')


        // }
        // else{
        //     console.log('not eligible')
        // }

        // var a=10
        // var b=20
        // var result=a**b
        // console.log('result is',result)
        // document.write('result is','<b>',result,'</b>')

        // var a=20
        // a-=10
        // console.log(a)

        // var a=prompt('enter a number')
        // console.log(a)
        // if(a%2==0){
        //     console.log('even')
        // }
        // else{
        //     console.log('odd')
        // }

        var a=Number(prompt('enter number1'))
        console.log(a)
        var b=Number(prompt('enter number2'))
        console.log(b)
        var result=a+b
        console.log(typeof(a))
        console.log('result is',result)
        alert(result)


    </script>
</body>
</html>