<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // var num1=Number(prompt('enter 1st num'))
        // var num2=Number(prompt('enter 2nd num'))
        // if(num1>num2){
        //     console.log(num1)
        // }
        // else{
        //     console.log(num2)
        // }

        // var num1=Number(prompt('enter 1st num'))
        // var num2=Number(prompt('enter 2nd num'))
        // var num3=Number(prompt('enter 3rd num'))
        // if(num1>num2){
        //     console.log(num1)
        // }
        // else if(num2>num3){
        //     console.log(num2)
        // }
        // else{
        //     console.log(num3)
        // }
        
        sum=0
        num=0
        var num=Number(prompt('enter 3 digit'))
        while(num>0){
            m=num%10
            sum=sum+m
            num=parseInt(num/10)
        }
        console.log(sum)

        num=0
        rev=0
        var num=Number(prompt('enter numbers'))
        while(num>0){
            r=num%10
            rev=rev*10+r
            num=parseInt(num/10)
        }
        console.log(rev)

        // num=0
        // rev=0
        // var num=Number(prompt('enter numbers'))
        // t=num
        // while(num>0){
        //     r=num%10
        //     rev=(rev*10)+r
        //     num=parseInt(num/10)
        // }
        // if(rev==t){
        //     console.log('palindrome')
        // }
        // else{
        //     console.log('not palindrom')
        // }


        // num=0 
        // var large=0
        // var num=Number(prompt('enter numbers'))
        // while(num>0){
        //     r=num%10
        //     num=parseInt(num/10)
        //     if(r>large){
        //     large = r
        //     }
        // }
        //  console.log(large)

        // var num=0
        // var count=0
        // var num=Number(prompt('enter numbers'))
        // while(num>0){
        //     r=num%10
        //     num=parseInt(num/10)
        //     count++
        // }
        //  console.log('number of digits = ',count)

        // for(i=1; i<=5; i++){
        //     for(j=1; j<=i; j++){
        //         document.write('* ')
        //     }

        //     document.write('<br>')
        // }
        // for(i=1; i<=5; i++){
        //     for(j=5; j>i; j--){
        //         document.write('* ')
        //     }

        //     document.write('<br>')
        // }


        // for(i=1; i<=5; i++){
        //     for(j=5; j>=i; j--){
        //         document.write('* ')
        //     }

        //     document.write('<br>')
        // }

        
        
        
        






    </script>
</body>
</html>