<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var mark=[45,34,23,'helllo']
        var item=[6754,433,434,34]
        var newarray=mark.concat(item)
        mark.push(45,'hai')
        // mark.pop()
        // mark.pop()
        // mark.shift()
        // mark.unshift('bye')
        // mark[1]=70

        console.log(newarray)
        // for(var item of mark){
        //  console.log(item)

        // }
        // for(var i=0; i<mark.length; i++){
        // console.log(mark[i])


        // }
    </script>
</body>
</html>