#p1{
    font-size: larger;
    color: green;
}

p{
    color: brown !important;
    display: inline;
    visibility: hidden;
}

b{
    display: block;
    /* visibility:hidden; */
}
/* 
img{
    opacity: 0.2;
} */

img:hover{
    opacity: 0.3;
    width: 50px;
}

div{
    background-color: blue;
    width: 500px;
    height: 200px;
    /* position: absolute; */
    /* right: 0;
    bottom: 0; */
    /* position: relative;
    left: 50px;
    bottom:50px; */

}