
        /* #head{
            color: red;
            font-style: italic;
        }
        .p1{
            color: blue;
            font-style: oblique;
        }
        span{
            color: blueviolet;
            font-style: inherit;
        } */

         /* *{
            color: aqua;
        }  */

        div span{
            color: blueviolet;
        }

        .div1 p{
            color: green;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: x-large;
        }