{% extends 'sportsclub/home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'cssfile/home.css' %}">
</head>
<body>
    {% block content %}
    <div class="contact">
        <div class="con1">
            <h2>Contact FC Barcelona</h2>
        </div>
        <div class="con2">
            FCB OFFICES 
                Arístides Maillol s/n, 08028 Barcelona (vehicle entrance at gate 14)<br>

                Phone number: (+34) 902 1899 00<br>
                Phone attention available: From Monday to Friday from 9am to 8pm, Saturdays from 10am to 2pm<br>
                Summer timetable: (from June 1 to August 15).<br>
                Opening hours on match days:<br><br><br>

                Midweek football matches at the Camp Nou: from 9am until half time in the match.<br>
                Saturday football matches at the Camp Nou: from 10am until half time in the match.<br>
                Sunday and bank holiday football matches at the Camp Nou: from two hours before kickoff until half time in the match.<br>
                TICKET OFFICE<br>
                Access 15 ticket offices:<br>
                Opening hours (high season): 9:45am to 6:15pm<br>
                                    (low season): closed.<br><br>

                Match days 9:45am until kick-off<br><br>

                Boulevard:<br>
                Opening hours (high season): 9:45am to 6:15pm<br>
                                    (low season): 9:45am to 5:15pm except Sundays (9:45am to 2:15pm)<br><br>

                Match days (football first team): opening hours depending on high or low season and until the game half time.<br><br>

                BARÇA STADIUM TOUR & MUSEUM<br>
                Av. Joan XXIII s/n 08028 Barcelona (Acces Nº 9)<br>
                Telephone number: (+34) 902 1899 00<br><br>

                E-mail: oab@fcbarcelona.cat<br><br>

                Get your tickets here:<br><br>

                ICE RINK<br>
                Av. Joan XXIII s/n 08028 Barcelona<br><br>

                Phone number: +34 902 18 99 00<br>
                E-mail: pistadegel@fcbarcelona.cat<br><br>

                Call center schedule:<br><br>

                Monday to Thursday from 9.00 to 17.30, Fridays from 9.00 to 14.30.<br><br>

                OAB (MEMBERS' OFFICE CONTACT)<br>
                Av. Joan XXIII s/n 08028 Barcelona<br><br>

                Phone number: (+ 34) 93 496 36 00<br>
                E-mail: oab@fcbarcelona.cat<br><br>

                Opening times:<br>
                Monday to Friday from 9am until 8pm<br>
                Saturday from 10am until 2pm.<br>
                Midweek Match Days at Camp Nou from 9am until half time.<br>
                Saturday Match Days at Camp Nou from 10am until half time.<br>
                Sunday Match Days at Camp Nou from two hours before kickoff until half time.<br><br>

                Summer opening times:<br>
                From 1 June until 15 August, the OAB will be closed on Saturdays but open from Monday to Friday from 9am to 8pm.<br><br>

                OAP (SUPPORTERS CLUB OFFICE CONTACT)<br>
                Av. Joan XXIII s/n 08028 Barcelona<br><br>

                Phone number: +34 93 496 36 55<br>
                Fax: +34 93 496 37 71<br>
                E-mail: penyes@fcbarcelona.cat<br><br>

                Opening Hours of the "Penyes Office Contact): From Monday to Friday: from 10am to 2pm and from 3.30pm to 7pm. First team match days: from 10am to 2pm and from 3.30pm to kickoff.

        </div>
    </div>


    {% endblock %}
    
</body>
</html>